<div class="container mx-auto px-4">
  <mat-grid-list [cols]="6" [rowHeight]="'1:1'" gutterSize="2px">
    <mat-grid-tile
      *ngFor="let drink of drinks; let i = index"
      [colspan]="1"
      [rowspan]="1"
    >
      <div class="shadow-md overflow-hidden">
        <a [routerLink]="['/drinks', drink.idDrink]">
          <img
            class="w-full h-full"
            [src]="drink.strDrinkThumb"
            alt="{{ drink.strDrink }}"
          />
        </a>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
