<header
  class="header-horizontal"
  [ngClass]="[styles.text, styles.pad, styles.cont]"
  [style.backgroundColor]="primaryColor"
>
  <div class="logo-title-description">
    <div class="title-description">
      <h1 class="title" [ngClass]="styles.title" [style.color]="accentColor">
        {{ topBar.title }}
      </h1>
      <p
        class="description"
        [ngClass]="styles.desc"
        [style.color]="accentColor"
      >
        {{ topBar.description }}
      </p>
    </div>
  </div>

  <div class="search-bar" *ngIf="showSearchBar">
    <app-search-bar></app-search-bar>
  </div>
  <div class="language-selector" *ngIf="showLanguageSelection">
    <app-language></app-language>
  </div>
</header>
