<header
  class="header-horizontal"
  [ngClass]="[
    topBar.styles.bg,
    topBar.styles.text,
    topBar.styles.pad,
    topBar.styles.cont
  ]"
>
  <div class="logo-title-description">
    <div class="title-description">
      <h1 class="title" [ngClass]="topBar.styles.title">{{ topBar.title }}</h1>
      <p class="description" [ngClass]="topBar.styles.desc">
        {{ topBar.description }}
      </p>
    </div>
  </div>

  <div class="search-bar">
    <app-search-bar></app-search-bar>
  </div>
  <div class="language-selector">
    <app-language></app-language>
  </div>
</header>
